<br><br>
<div id="home">
<h1>Home</h1>

</div>

<br><br>
 <div class="news">
  <h1>News</h1>
 </div>

 <table>
  <tr>
    <th>2023.10.01</th>
    <td>【新商品】いちじくのフルーツサンド</td>
  </tr>
  <tr>
    <th>2023.11.01</th>
    <td>【新商品】かぼちゃのシフォンケーキ</td>
  </tr>
  <tr>
    <th>2023.11.15</th>
    <td>【重要】営業時間の変更</td>
  </tr>
  <tr>
    <th>2023.12.01</th>
    <td>【新商品】日曜限定！コッペパン</td>
  </tr>
</table>


 <br><br><br><br>
 <div class="recomend">
 <h2>おすすめ</h2>
</div>

<br><br><br><br>
<div class="infom">
<h3>イトウベーカリー紹介</h3>
</div>

<div class="info">
   <div class="bg"></div>
 <li>住所</li>
 <li>お問い合わせ</li>
</div>


<br><br>


