.menu h3{
    color:rgb(59, 59, 186);
    font-size:45px;
    margin-bottom: 50px;
    border-bottom: 3px dashed rgb(59, 59, 186);
}

.title{
    font-size:30px;
}

.name {
    list-style: none;
}

.name image{
    width: 300px; 
    height: 250px;
}
