#home h1{
    color:rgb(59, 59, 186);
    font-size:45px;
    margin-bottom: 30px;
    border-bottom: 3px dashed rgb(59, 59, 186);
}

.news h1{
    color:rgb(59, 59, 186);
    font-size:25px;
}

.recomend h2{
    color:rgb(59, 59, 186);
    font-size:25px;
}
